body{
	background-color: #ffffff; /* Background color */
	color: #222; /* Foreground color used for text */
	font-family: helvetica;
	font-size: 14px;
	margin: 0; /* Amount of negative space around the outside of the body */
	padding: 0; /* Amount of negative space around the inside of the body */
	
}

#block{
	display: inline;
}

#header{
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(112,189,34,1)), color-stop(0%, rgba(83,148,22,1)), color-stop(49%, rgba(113,186,41,1)), color-stop(100%, rgba(112,189,34,1)));
	background: -webkit-linear-gradient(left, rgba(112,189,34,1) 0%, rgba(83,148,22,1) 0%, rgba(113,186,41,1) 49%, rgba(112,189,34,1) 100%);
	border-bottom: 1px solid #ffffff;
	display: block;
	font-size: 11px;
	padding: 15px;
	text-align: center;

}

#header h1{ 
	display: inline;
	font-weight: 200;
	color: #ffffff;
}

#header h2{
	float: right;
	padding-right: 29px;
	color:transparent;
}

#header button{
	display: inline;
	float: left;
    background: transparent;
    color: transparent;
    border-radius: 5px;
    border: solid 0px;  
    font-size: 20px; 

}

#content, #sidebar{
	padding: 10px;
}

#footer{
	display: none;
}

.ingredients-form input[type="text"]{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #5da11d;
   
  box-sizing: border-box;
  outline: none;
   
  font-size: 1.4em;
  padding: 0.6em 0.6em;
  width: 100%;
}

.box-shadow-menu {
  position: relative;
}

.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 0.1em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.4em 0 0 white,
    0 0.8em 0 0 white;
}

.findButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0d78b6), color-stop(1, #0aa5ff) );
	background:-moz-linear-gradient( center top, #0d78b6 5%, #0aa5ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d78b6', endColorstr='#0aa5ff');
	background-color:#0d78b6;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #1470cc;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
}

.addButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
	font-style:normal;
	height:37px;
	line-height:37px;
	width:51px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}

.recipeNames{
	font-size:20px;
	font-weight: bold;
	color: #5da11d;
}

.background{
	background-color: #dbdbdb;
}

.searchResult{
	background-color:#ffffff;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #5da11d;
	padding-top: 10px;
	padding-left: 15px;
	border-radius:5px;
	box-shadow: 4px 4px 4px #888888;
}
